@model IEnumerable<Hexa.Data.Models.oauth.ClientSecret>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ApplicationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientSecretID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientSecretID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientSecretID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
