@model Hexa.Data.DTOs.ApplicationDetailsDTO
@{
    ViewData["Title"] = "Application Details";
}

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                @Model.Application.Name - @Model.Application.Details
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                WebSite: @Model.Application.Url
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="@Model.Application.Logo" alt="@Model.Application.Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="checkbox" id="RedirectUri" name="RedirectUri" value="Uri1" @(@Model.RedirectUrl.IsActive ? "checked" : "")>
                <label for="RedirectUri"> @Model.RedirectUrl.URI </label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul>

                    @foreach (var item in Model.AssignedScopes)
                    {

                        <li>@item.Name - @item.Description</li>

                    }

                </ul>
            </div>
        </div>
    </div>
    @*<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    *@
</div>
